body {
  background-color: #b2dbf4;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.frame {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; 
    border: #1b377f solid 10px;
    box-shadow: 10px 10px #181667;
    width: 80vh;
    height: 60vh;
    background-color: #147abf;
}

/* title area */
.page-head {
  max-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*story with image */
.story {
  display: flex;
}

/* story text and links */
.story-content {
  max-height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  width: 60%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;

}

.imgs {
  height: 45vh;
  width: 40%;
}

.story-text {
  font-family: "Pixelify Sans", sans-serif;
  font-size: large;
  color: #fcfcfc;
  max-height: 20vh;
  border:#b2dbf4 2px solid;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  background-color: #40afdd;
}

.story-links {
  color:#fcfcfc;
  font-family: "Pixelify Sans", sans-serif;
  font-size: large;
  max-height: 30vh;
  overflow: auto;
  padding-left: 20px;
  padding-top: 10px;
}

.cat {
  max-width: 30vh;
  max-height: 30vh;
  padding: 20px;
}

h1 {
  color: #fcfcfc;
  font-family: "Jersey 10", sans-serif;
  font-size:10vh;
  text-shadow: #1b377f 5px 5px;
}


a {
  color: #ec9ea4;
  text-decoration: none;
}

a:hover {
  position: relative;
  text-decoration: underline;
}

a:hover:before {
  content: url('imgs/paw.png');
  height:16px;
  width: 16px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding:0;
}

li{
  padding-top: 10px;
  padding-bottom: 10px;
}